body {
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.clock {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 0;
    /* margin-top: -50px;
    margin-left: -200px; */
    transform: translate(-50%, -50%);
    text-align: center;
    border: 5px solid #33AEFF;
    background-color: white;
    color: rgb(22, 110, 226);
}

#displaytime {
    font-size: 50px;
    font-weight: bold;
}